:root {
  --bar-width: 0;
}

.load-bar {
  width: 100%;
  background-color: #ccc;
  height: 0.5rem;
  position: relative;
}
.load-bar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: royalblue;
  width: var(--bar-width);
  height: 0.5rem;
}
